<%= form_for(@session) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="actions" style="text-align:center;">
    <%= f.submit "Login" %>
  </div>
<% end %>
