<div style="margin-left:40%;">

<img src="/assets/shared/logo.png" border=0 style="margin-left:-55px;" />


<div class="page-form" style="width:215px;">
<h1>Login</h1>
<br>
<%= flash[:notice] %>
<%= render 'form' %>
</div>

</div>
