<%= simple_form_for(@acesso) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :ingresso_id %>
    <%= f.input :entrada_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
