<h1>Listing acessos</h1>

<table>
  <tr>
    <th>Ingresso</th>
    <th>Entrada</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @acessos.each do |acesso| %>
  <tr>
    <td><%= acesso.ingresso_id %></td>
    <td><%= acesso.entrada_id %></td>
    <td><%= link_to 'Show', acesso %></td>
    <td><%= link_to 'Edit', edit_acesso_path(acesso) %></td>
    <td><%= link_to 'Destroy', acesso, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Acesso', new_acesso_path %>
