<p id="notice"><%= notice %></p>

<p>
  <b>Ingresso:</b>
  <%= @acesso.ingresso_id %>
</p>

<p>
  <b>Entrada:</b>
  <%= @acesso.entrada_id %>
</p>


<%= link_to 'Edit', edit_acesso_path(@acesso) %> |
<%= link_to 'Back', acessos_path %>
