<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyAcEzpDs5fpjWQPAOSqaWsR2mhn6Svu_S0&sensor=true"></script>
<%= javascript_include_tag "application" %>
<%= javascript_include_tag "conteudos" %>

<% unless @conteudo.ancestors.empty? %>
<p>
<% @conteudo.ancestors.reverse.each do |conteudo| %>
  <%= link_to conteudo.titulo, [@empresa,conteudo] %> &gt;
<% end %>
</p>
<% end %>

<% unless @conteudo.children.empty? %>
<p>Conteudos</p>

<ul>
  <% @conteudo.children.reverse.each do |conteudo| %>
    <p><%= link_to conteudo.titulo, [@empresa,conteudo] %><p>
  <% end %>
</ul>
<% end %>

<%= form_for([@empresa, @conteudo], :html => { :multipart => true }) do |f| %>
  <% if @conteudo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@conteudo.errors.count, "error") %> Erro ao salvar:</h2>

      <ul>
      <% @conteudo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :parent_id %>
  <%= f.hidden_field :empresa_id %>
  <%= f.hidden_field :latitude %>
  <%= f.hidden_field :longitude %>
<div class="actions">
      <%= link_to image_tag("/assets/shared/voltar.png", :border=>0, :alt=> 'Voltar', :title => 'Voltar'), empresa_conteudos_path(@empresa) %>
     
    <%= f.submit "Salvar" %>
  </div>
  <div style="width:100%;height:2px;background:#777;margin-bottom:10px;"></div>
  <div class="caixaesquerda">
  
    
    
  <div class="field">
    <%= f.label :titulo %><br />
    <%= f.text_field :titulo %>
  </div>
  <div class="field" style="float:left;margin-right: 10px;">
    <%= f.check_box :ativo %>
    <%= f.label :ativo %>
  </div>
  <div class="field" style="float:left;margin-right: 10px;">
    <%= f.check_box :social %>
    <%= f.label :social %>
  </div>
  <div class="field">
    <%= f.check_box :destaque %>
    <%= f.label :destaque %>
  </div>
  <div class="field">
    <%= f.label :subtitulo %><br />
    <%= f.text_field :subtitulo %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :tipo_de_ingressos %><br />
    <%= f.select :tipo_de_ingresso_ids, @tipo_de_ingressos.collect {|x| [x.titulo, x.id]}, {}, :multiple => true %>
  </div>
  <div class="field">
    <%= f.label :data %><br />
    <%= f.datetime_select :data %>
  </div>
  <div class="field">
    <%= f.label :data_incio_vendas %><br />
    <%= f.datetime_select :data_incio_vendas %>
  </div>
  <div class="field">
    <%= f.label :data_fim_vendas %><br />
    <%= f.datetime_select :data_fim_vendas %>
  </div>
  <div class="field">
    <%= f.label :categoria %><br />
    <%= f.select :categoria, [['Galeria', 'galeria'], ['Imagem','imagem'], ['Menu','menu'], ['Lista', 'lista'], ['Mapa', 'mapa'], ['Notícia', 'noticia']] %>
  </div>
  </div>

  <div class="caixadireita">
  <div class="field">
    <%= f.label :descricao %><br />
    <%= f.text_area :descricao %>
  </div>
  <div class="field">
    <%= f.label :imagem_principal %><br />
    <%= f.file_field :imagem %>
  </div>

  <div class="field">
    <%= f.label :imagem_banner %><br />
    <%= f.file_field :row_imagem %>
  </div>

  <%if @empresa.conteudos %>
	<div class="field">
	   <%= f.label :parent_id %><br />
	   <%= f.select :parent_id, @empresa.conteudos.map{ |c| [c.titulo, c.id] },:include_blank => true %>
	</div>
	
  <% end %>
  <div class="field">
    <label for="locationTypeCheckbox">Local</label>
    <input id="locationTypeCheckbox" type="checkbox" value="false"/>
  </div>
	<div id="containerLocation">
		<div class="field">
		    <%= f.label :endereco %><br />
		    <%= f.text_field :endereco %>
		</div>
		<input type="button" id="geocodingButton" value="Geolocalizar">
		<div id="map"> 
		   <div id="map_canvas" style="width:100%; height:400px"></div>
		</div>
	</div>
</div>
  
<% end %>
