<h1 style="text-align: center;margin-bottom: 30px;">Lista de conteudos</h1>
<div style="width:100%;height:2px;background:#777;margin-bottom:10px;"></div>
<%= link_to image_tag("/assets/shared/voltar.png", :border=>0, :alt=> 'Voltar', :title => 'Voltar'), empresas_path %>
<%= link_to image_tag("/assets/shared/adicionareventos.png", :border=>0, :alt=> 'Adicionar novo evento', :title => 'Adicionar novo evento'), new_empresa_conteudo_path(@empresa) %>
<%= link_to image_tag("/assets/shared/adicionarvideos.png", :border=>0, :alt=> 'Adicionar novo video', :title => 'Adicionar novo video'),'/empresas/' + @empresa.id.to_s + '/conteudos/newvideo/new' %>
<%= link_to image_tag("/assets/shared/adicionarpictures.png", :border=>0, :alt=> 'Adicionar nova foto', :title => 'Adicionar nova foto'),'/empresas/' + @empresa.id.to_s + '/conteudos/newpic/new' %>
<div style="width:100%;height:2px;background:#777;margin-bottom:10px;margin-top:10px;"></div>
<%= display_conteudos(@conteudos) %>

<br />
