<h1 style="text-align: center;margin-bottom: 30px;">Conteúdo do Evento</h1>
<div style="width:100%;height:2px;background:#777;margin-bottom:10px;"></div>
<%= link_to image_tag("/assets/shared/voltar.png", :border=>0, :alt=> 'Voltar', :title => 'Voltar'), empresa_conteudos_path(@empresa) %>
<%= link_to image_tag("/assets/shared/editar2.png", :border=>0, :alt=> 'Editar', :title => 'Editar'), edit_empresa_conteudo_path(@empresa, @conteudo) %>
<p id="notice"><%= notice %></p>
<div style="width:100%;height:2px;background:#777;margin-bottom:10px;"></div>

<div class="caixaesquerda">
<% unless @conteudo.ancestors.empty? %>
<p>
<% @conteudo.ancestors.reverse.each do |conteudo| %>
  <%= link_to conteudo.titulo, [@empresa,conteudo] %> &gt;
<% end %>
</p>
<% end %>

<% unless @conteudo.children.empty? %>
<p>Conteudos</p>
<ul>
  <% @conteudo.children.reverse.each do |conteudo| %>
    <p><%= link_to conteudo.titulo, [@empresa,conteudo] %><p>
  <% end %>
</ul>
<% end %>


<p>
  <b>Titulo:</b>
  <%= @conteudo.titulo %>
</p>
<br/>
<p>
  <b>Subtitulo:</b>
  <%= @conteudo.subtitulo %>
</p>
<br/>
<p>
  <b>Categoria:</b>
  <%= @conteudo.categoria %>
</p>
<br/>
<p>
  <b>Descricao:</b>
  <%= @conteudo.descricao %>
</p>
<br/>
<p>
  <b>Endereco:</b>
  <%= @conteudo.endereco %>
</p>
<br/>
<p>
  <b>Latitude:</b>
  <%= @conteudo.latitude %>
</p>
<br/>
<p>
  <b>Longitude:</b>
  <%= @conteudo.longitude %>
</p>
<br/>
<p>
  <b>Ativo:</b>
  <%= @conteudo.ativo %>
</p>
<br/>
<p>
  <b>Destaque:</b>
  <%= @conteudo.destaque %>
</p>
<br/>
<p>
  <b>Social:</b>
  <%= @conteudo.social %>
</p>
<br/>
<p>
  <b>URL:</b>
  <%= @conteudo.url %>
</p>

</div>
<div class="caixadireita" style="margin-top:0;">
<p>
	<b>Principal:</b><br/>
	<%= image_tag @conteudo.imagem.url %><br/>
</p>
<p>
  <b>Banner:</b><br/>
  <%= image_tag @conteudo.row_imagem.url %><br/>
</p>
</div>


