<%= nested_form_for([@empresa,@tipo_de_ingresso]) do |f| %>
  <% if @tipo_de_ingresso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tipo_de_ingresso.errors.count, "error") %> Erro ao salvar:</h2>

      <ul>
      <% @tipo_de_ingresso.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :empresa_id %>

  <div class="field">
    <%= f.label :titulo %><br />
    <%= f.text_field :titulo %>
  </div>
  <div class="field">
    <%= f.label :descricao %><br />
    <%= f.text_field :descricao %>
  </div>
  <div class="field">
    <%= f.label :valor %><br />
    <%= f.text_field :valor %>
  </div>

  <div class="field">
    <%= f.label :quantidade_ingressos %><br />
    <%= f.number_field :quantidade_ingressos %>
  </div>

  <div class="field">
    <%= f.fields_for :entradas do |builder| %>
      <%= render "entrada_fields", :f => builder %>
    <% end %>
  </div>

  <div class="field">
    <%= f.link_to_add "Adicionar entrada", :entradas %>
  </div>

  <div class="field">
    <%= f.label :conteudos %><br />
    <%= f.select :conteudo_ids, @conteudos.collect {|x| [x.titulo, x.id]}, {}, :multiple => true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>