<div class="page-header">
<div class="page-header">
  <h1  style="text-align: center;margin-bottom: 30px;">Lista de tipos de ingresso</h1>
</div>

<div class="page-content">
  <div class="page-table">
    <table id="content-table">
      <thead>
        <tr>
          <th>Titulo</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @tipo_de_ingressos.each do |tipo_de_ingresso| %>
          <tr>
            <td><%= tipo_de_ingresso.titulo %></td>
            <td><%= link_to image_tag("/assets/shared/show.png", :border=>0, :alt=> 'Mostrar', :title => 'Mostrar Conteudo'), [@empresa, tipo_de_ingresso] %></td>
            <td><%= link_to image_tag("/assets/shared/editar.png", :border=>0, :alt=> 'Editar', :title => 'Editar'), edit_empresa_tipo_de_ingresso_path(@empresa,tipo_de_ingresso) %></td>
            <td><%= link_to image_tag("/assets/shared/remover.png", :border=>0 , :alt => 'Remover', :title => 'Remover'), [@empresa, tipo_de_ingresso], confirm: 'Você tem certeza? ', method: :delete %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="page-footer">
    <%= link_to 'Novo tipo de ingresso', new_empresa_tipo_de_ingresso_path(@empresa) %>
    <%= link_to 'Voltar', empresas_path %>
  </div>
</div>
