<div class="page-header">
	<h1>Novo tipo de ingresso</h1>
</div>

<div class="page-form">
	<%= render 'form' %>
</div>


<div class="page-footer">
	<%= link_to 'Voltar', empresa_tipo_de_ingressos_path(@empresa) %>
</div>