<p id="notice"><%= notice %></p>

<p>
  <b>Titulo:</b>
  <%= @tipo_de_ingresso.titulo %>
</p>

<p>
  <b>Descrição:</b>
  <%= @tipo_de_ingresso.descricao %>
</p>

<p>
  <b>Valor:</b>
  <%= @tipo_de_ingresso.valor %>
</p>

<p>
  <b>Quantidade:</b>
  <%= @tipo_de_ingresso.quantidade_ingressos %>
</p>

<% unless @tipo_de_ingresso.entradas.empty? %>
<p>
	Entradas
</p>
<p>
<% @tipo_de_ingresso.entradas.each do |entrada| %>
  <p>
  	Data
  </p>
  <p>
  	<%= entrada.data %>
  </p>
  <p>
  	Quantidade
  </p>
  <p>
  	<%= entrada.quantidade %>
  </p>
<% end %>
</p>
<% end %>


<%= link_to 'Editar', edit_empresa_tipo_de_ingresso_path(@empresa, @tipo_de_ingresso) %> |
<%= link_to 'Voltar', empresa_tipo_de_ingressos_path(@empresa) %>
