<h1>Listing ingressos_dashboards</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ingressos_dashboards.each do |ingressos_dashboard| %>
  <tr>
    <td><%= link_to 'Show', ingressos_dashboard %></td>
    <td><%= link_to 'Edit', edit_ingressos_dashboard_path(ingressos_dashboard) %></td>
    <td><%= link_to 'Destroy', ingressos_dashboard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ingressos dashboard', new_ingressos_dashboard_path %>
