<p id="notice"><%= notice %></p>


<table>
<<<<<<< HEAD
<thead>
=======

>>>>>>> 08dd1dcc0a4d79af88bcff6582e98c3797c51aaa
<tr>
    <th>Usuario</th>
    <th>CPF</th>
    <th>RG</th>
    <th>Conteudo      </th>
    <th>Tipo de ingresso        </th>
    <th>Transação</th>
    <th>Status</th>
    <th>Entradas</th>
    <th>Acessos</th>
</tr>
<<<<<<< HEAD
</thead>
=======

>>>>>>> 08dd1dcc0a4d79af88bcff6582e98c3797c51aaa
<% @ingressos.each do |ingresso| %>
  <tr>
    <td><%= ingresso.usuario.nome %></td>
    <td><%= ingresso.usuario.cpf %></td>
    <td><%= ingresso.usuario.rg %></td>
    <td><%= ingresso.conteudo.titulo %></td>
    <td><%= ingresso.tipo_de_ingresso.titulo %></td>
    <td><%= ingresso.transacao %></td>
    <td><%= ingresso.transacao_status %></td>
    <td><%= ingresso.tipo_de_ingresso.entradas.count %></td>
    <td><%= ingresso.acessos.count %></td>
  </tr>
<% end %>
</table>

<br />

<<<<<<< HEAD
<%= link_to image_tag("/assets/shared/voltar.png", :border=>0, :alt=> 'Voltar', :title => 'Voltar'), '/empresas/' + @conteudo.empresa.id.to_s + '/conteudos'  %>
=======
<%= link_to 'Edit', edit_ingressos_dashboard_path(@conteudo) %> |
<%= link_to 'Back', ingressos_dashboards_path %>
>>>>>>> 08dd1dcc0a4d79af88bcff6582e98c3797c51aaa
