<%= form_for(@ingresso) do |f| %>
  <% if @ingresso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ingresso.errors.count, "error") %> Erro ao salvar:</h2>

      <ul>
      <% @ingresso.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :usuario_id %><br />
    <%= f.text_field :usuario_id %>
  </div>
  <div class="field">
    <%= f.label :tipo_de_ingresso_id %><br />
    <%= f.text_field :tipo_de_ingresso_id %>
  </div>
  <div class="field">
    <%= f.label :conteudo_id %><br />
    <%= f.text_field :conteudo_id %>
  </div>
  <div class="field">
    <%= f.label :transacao %><br />
    <%= f.text_field :transacao %>
  </div>
  <div class="field">
    <%= f.label :resposta %><br />
    <%= f.text_field :resposta %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
