<h1>Listing ingressos</h1>

<table>
  <tr>
    <th>Usuario</th>
    <th>Conteudo</th>
    <th>Tipodeingresso</th>
    <th>Transacao</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ingressos.each do |ingresso| %>
  <tr>
    <td><%= ingresso.usuario.nome %></td>
    <td><%= ingresso.conteudo.titulo %></td>
    <td><%= ingresso.tipo_de_ingresso.titulo %></td>
    <td><%= ingresso.transacao %></td>
    <td><%= link_to 'Show', ingresso %></td>
    <td><%= link_to 'Edit', edit_ingresso_path(ingresso) %></td>
    <td><%= link_to 'Destroy', ingresso, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ingresso', new_ingresso_path %>
