<div class="page-header">
  <h1>Lista de usuários</h1>
</div>

<div class="page-content">
  <div class="page-table">
    <table id="content-table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Email</th>
          <th>Telefone</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @usuarios.each do |usuario| %>
            <tr>
                <td><%= usuario.nome %></td>
                <td><%= usuario.email %></td>
                <td><%= usuario.telefone %></td>
                <td><%= link_to 'Show', usuario %></td>
                <td><%= link_to 'Edit', edit_usuario_path(usuario) %></td>
                <td><%= link_to 'Destroy', usuario, confirm: 'Are you sure?', method: :delete %></td>
            </tr>
        <% end %>
      </tbody>
    </table>
  </div>
    <div class="page-footer">
        <%= link_to 'New Usuario', new_usuario_path %>
    </div>
</div>


