<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @usuario.nome %>
</p>

<p>
  <b>Cpf:</b>
  <%= @usuario.cpf %>
</p>

<p>
  <b>Rg:</b>
  <%= @usuario.rg %>
</p>

<p>
  <b>Email:</b>
  <%= @usuario.email %>
</p>

<p>
  <b>Telefone:</b>
  <%= @usuario.telefone %>
</p>


<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
