<h1 style="text-align:center;margin-bottom:30px;">Dados Cadastrais</h1>
<div style="width:100%;height:2px;background:#777;margin-bottom:10px;"></div>

<p id="notice"><%= notice %></p>
  <%= link_to image_tag("/assets/shared/voltar.png", :border=>0, :alt=> 'Voltar', :title => 'Voltar'), empresas_path %>
  <%= link_to image_tag("/assets/shared/editar2.png", :border=>0, :alt=> 'Editar', :title => 'Editar'), edit_empresa_path(@empresa) %>
  <%= link_to image_tag("/assets/shared/calendar.png", :border=>0, :alt=> 'Eventos', :title => 'Mostrar Eventos'), empresa_conteudos_path(@empresa) %>
  <%= link_to image_tag("/assets/shared/ticket.png", :border=>0, :alt=> 'Tipos de Ingresso', :title => 'Mostrar Tipos de Ingressos'), empresa_tipo_de_ingressos_path(@empresa) %>

<div style="width:100%;height:2px;background:#777;margin-bottom:10px;"></div>

<p>
  <b>Nome:</b>
  <%= @empresa.nome %>
</p>

<p>
  <b>Cnpj:</b>
  <%= @empresa.cnpj %>
</p>

<p>
  <b>Telefone:</b>
  <%= @empresa.telefone %>
</p>

<p>
  <b>Email:</b>
  <%= @empresa.email %>
</p>

<p>
  <b>Identificador:</b>
  <%= @empresa.identificador %>
</p>

<p>
  <b>Apple token:</b>
  <%= @empresa.identificador %>
</p>

<p>
  <b>C2DM email:</b>
  <%= @empresa.c2dm_email %>
</p>

<p>
  <b>C2DM registration id:</b>
  <%= @empresa.c2dm_registration_id %>
</p>





