* {
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
}
body{
	background: #fff;
	color: #393939;
	font-family: Arial;
	font-size: 0px;
	line-height: 0;
}

#content {
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	margin: 0 auto 0 auto;
	max-width: 1260px;
	min-width: 780px;
	padding: 35px 0px 30px 0px;
	display: table;
}

#content-outer {
	background: url(shared/content_repeat.jpg) repeat-x;
}

.page-content {
	border: 1px;
	border-style: solid;
	border-color: #7e7e7e;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	margin: 0px 20px 15px 20px;
	padding: 20px;
}

.page-header {
	margin: 0 0 15px 20px;
}

.page-content .page-footer {
	margin: 20px 20px 0px 0px;
	width: 100%;
	text-align: right;
}

.page-content .page-footer a {
	border: 1px;
	border-style: solid;
	height: 30px;
	width: 110px;
	background-color: #CCCCCC;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 5px;
	font-weight: bold;
}

.page-content .page-footer a:hover {
	background-color: #94B52C;
	color: #507108;
}

.page-content .page-footer a:active {
	background-color: #72930A;
	color: #406007;
}

.page-content .page-table table {
	width: 100%;
	border: 1px;
	border-style: solid;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.page-content .page-table table thead tr th {
	line-height: 28px;
	min-width: 130px;
	border: 1px solid #D2D2D2;
    padding: 10px 0 10px 10px;
	text-align: left;
	width: 130px;
	font-family: verdana,arial,helvetica,sans-serif;
	font-size: 13px;
	background: url(shared/top_bg.jpg) top center repeat-x;
	border-left: 1px solid #373737;
	color: white;
}

.page-content .page-table table tbody tr:nth-child(even) {
	background: #ececec;
}

.page-content .page-table table tbody tr:nth-child(odd) {
	background: #ffffff;
}

.page-content .page-table table tbody tr td {
	line-height: 28px;
	min-width: 130px;
	border: 1px solid #D2D2D2;
    padding: 10px 0 10px 10px;
	text-align: left;
	width: 130px;
	font-family: verdana,arial,helvetica,sans-serif;
	font-size: 13px;
}

.page-content .page-form form div label {
	color: #4B4B4B;
	line-height: 20px;
}