<!DOCTYPE html>
<html>
	<head>
		<title>Ticket Mobile</title>
		<%= stylesheet_link_tag "application", :media => "all" %>
		<%= csrf_meta_tags %>
	</head>
	<body>

		
		<%= render "layouts/header" %>

		<%if session[:usuario_id]%>
			<%= render "layouts/session" %>
		<%end%>

		<div id="content-outer">
			<div id="content">
				<%= yield %>
			</div>
		</div>
		
		<%= render "layouts/footer" %>

		<%= javascript_include_tag "/jquery/jquery-1.7.2.min" %>
		<%= javascript_include_tag "application" %>
	</body>
</html>
